<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.star.dao.StudentMapper">

	<resultMap id="student" type="com.example.star.model.Student" />

	<select id="findStudentByUsername" parameterType="String"
		resultMap="student">
		SELECT * FROM student
		WHERE name=#{1}
	</select>
</mapper>